// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700&display=swap');



$text-font-family: 'Red Hat Display', sans-serif;
$heading-font-family: 'Josefin Sans', sans-serif;
$light-text-font-family: 'Josefin Sans', sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #FAFAFA !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;

// Colors dark
//$bg-color-dark: #1a1a1a !default; // background color - black
$bg-color-dark: #171720 !default;  // background color - blue
$fg-color-dark: #EAEAEA !default; // Text color (not heading text color! fefbee
$alt-bg-color-dark: #424242 !default; // Unsure
$alt-fg-color-dark: #EAEAEA !default; // Heading Text color 
//$link-color-dark: #8E4955 !default; // Link + hover color
$link-color-dark: #A05663 !default; // Link + hover color
